fastapi
uvicorn[standard]
python-dotenv
supabase
livekit
livekit-agents
livekit-api
livekit-plugins-openai
livekit-plugins-sarvam
livekit-plugins-silero
livekit-plugins-anthropic
boto3
certifi
pytz
requests
httpx
openai
tiktoken
